              ####### CONFIGS SERVICE #######
________________________________________________________________________________

##  CONECTION SSH OTRS   ##

SSH_HOST_OTRS = 172.17.12.192
SSH_USER_OTRS  = root
SSH_PASS_OTRS  = 
SSH_PORT_OTRS  = 22

##  CONECTION DATABASE MYSQL HELP DESK   ##

DB_USER_MYSQL_DESK = partdump_dev
DB_PASS_MYSQL_DESK = 
DB_DATABASE_MYSQL_DESK = otrs
DB_PORT_MYSQL_DESK = 3306

##  CONECTION DATABASE SQL  ##

DB_HOST = DBSQL-PRD02
DB_USER = dbabi
DB_PASS = 
DB_DATABASE = BI_Desenv


## JIRA CONFIGS ##

URL_API_JIRA = https://ti-tora.atlassian.net/rest/api/3/
AUTH_JIRA = Basic ZXJsYW4uYWxtZWlkYUB0b3JhLmNvbS5icjozVDZ2RURTYzF6bEd2bzdGMkRvY0M5RUU=
CONTENT_TYPE_JSON = application/json
COOKIE_JIRA = atlassian.xsrf.token=c03ba079-877b-463a-812d-3057256ba605_eceaf1dd8467452ef4d2d0885dbf0323fcf6fd2b_lin